{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
<div class="main">
    <div class="author">
        {{post.author}}
        {{post.email}}

        <div class="icons">
            <a href="{% url 'edit_post' post.pk %}"><img class="edit-icon" src="icons/edit.png" /></a>
            <a href="{% url 'delete_post' post.pk %}"><img class="delete-icon" src="icons/delete.png" /></a>
        </div>

    </div>
    <div class="post">
        {{post.text}}
    </div>
</div>
{% endfor %}

{% endblock content %}